<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>trackExpenses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B49E74E91D8D87AD00EA3430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B49E74FD1D8D87AD00EA3430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B49E75081D8D87AD00EA3430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
